<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="{% if params.cq %}active{% else %}{% endif %}">
    <a href="#circular" id="circ-tab" data-toggle="tab">Circular query</a>
  </li>
  <li class="{% if not params.cq %}active{% else %}{% endif %}">
    <a href="#rectangular" id="rect-tab" data-toggle="tab">Rectangular query</a>
  </li>
  <li>
    <a href="#sample" id="sample-tab" data-toggle="tab">Sample queries</a>
  </li>
</ul>

<form role="form">
  <div class="row tab-content">
    <br>
    <div class="tab-pane {% if params.cq %}active{% else %}{% endif %}" id="circular">
      <div class="col-xs-3">
        <div class="form-group">
          <label>Origin lat</label>
          <input type="text" class="form-control" name="olat"
                 value="{{params.origin_latitude|default("", True)}}">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label>Origin lon</label>
          <input type="text" class="form-control" name="olon"
                 value="{{params.origin_longitude|default("", True)}}">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label>Radius</label>
          <input type="text" class="form-control" name="r"
                 value="{{params.radius|default("", True)}}">
        </div>
      </div>
    </div>

    <div class="tab-pane {% if not params.cq %}active{% else %}{% endif %}" id="rectangular">
      <div class="col-xs-3">
        <div class="form-group">
          <label>Lat 1</label>
          <input type="text" class="form-control" name="slat"
                 value="{{params.start_latitude|default("", True)}}">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label>Lon 1</label>
          <input type="text" class="form-control" name="slon"
                 value="{{params.start_longitude|default("", True)}}">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label>Lat 2</label>
          <input type="text" class="form-control" name="elat"
                 value="{{params.end_latitude|default("", True)}}">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label>Lon 2</label>
          <input type="text" class="form-control" name="elon"
                 value="{{params.end_longitude|default("", True)}}">
        </div>
      </div>
    </div>

    <div class="tab-pane" id="sample">
      <div class="col-xs-12">
        <ul>
          <li><a href="?olat=47.6097&olon=-122.3331&r=100&cq=1&slat=&slon=&elat=&elon=&s=&e=&m=">
            All events within 100 miles of Seattle, WA.
          </a></li>
          <li><a href="?slon=-150&elon=-75&olat=&olon=&r=&slat=&elat=&s=&e=&m=&cq=0">
            All events between longitudes -150 to -75.
          </a></li>
          <li><a href="?m=7.5&olat=&olon=&r=&slat=&slon=&elat=&elon=&s=&e=&cq=1">
            All events of magnitude > 7.5.
          </a></li>
          <li><a href="?s=1964&e=2014&olat=&olon=&r=&slat=&slon=&elat=&elon=&m=&cq=1">
            All events in the past 50 years.
          </a></li>
        </ul>
      </div>
    </div>
  </div> <!-- Row -->

  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <label>Start year</label>
        <input type="text" class="form-control" name="s"
               value="{{params.start_year|default("", True)}}">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label>End year</label>
        <input type="text" class="form-control" name="e"
               value="{{params.end_year|default("", True)}}">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label>Magnitude</label>
        <input type="text" class="form-control" name="m"
               value="{{params.threshold|default("", True)}}">
      </div>
    </div>
    {% if use_k %}
    <div class="col-xs-1">
      <div class="form-group">
        <label>#clusters</label>
        <input type="text" class="form-control" name="k"
               value="{{params.k}}">
      </div>
    </div>
    <div class="col-xs-2">
    {% else %}
    <div class="col-xs-3">
    {% endif %}
      <br>
      <input type="submit" class="btn btn-primary">
      <a href="/{{ index }}/" class="btn btn-default">Reset</a>
    </div>
  </div>
  <input type="hidden" id="cq" name="cq"
         {% if params.cq %}value="1"{% else %}value="0"{% endif %}>
</form>

<script>

  // Simple listener to change query type even if both forms are populated.
  $(function() {
    $('#circ-tab').click(function() {
      $('#cq').attr('value', 1);
    });
    $('#rect-tab').click(function() {
      $('#cq').attr('value', 0);
    });
  });

</script>