<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/simplex.min.css">
  <style>
    #wrap {
/*      padding-left: 20px;
      padding-right: 20px;*/
    }
  </style>
  {% block styles %}{% endblock %}
  <script src="/static/lib/jquery.min.js"></script>
  <title>{% block title %}sciprog - {{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <div class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li {% if title == 'Event counter' %} class="active" {% endif %}>
        <a href="/1">1. Event counter</a>
      </li>
      <li {% if title == 'Cluster detection' %} class="active" {% endif %}>
        <a href="/2">2. Cluster detection</a>
      </li>
      <li {% if title == 'Spatial plot' %} class="active" {% endif %}>
        <a href="/3">3. Spatial plot</a>
      </li>
      <li {% if title == 'Temporal plot' %} class="active" {% endif %}>
        <a href="/4">4. Temporal plot</a>
      </li>
      <li {% if title == "'What makes people happy' style plot" %} class="active" {% endif %}>
        <a href="/5">5. Interactive scatterplot</a>
      </li>
      <li>
        <a href="https://github.com/minism/uo-sciprog">Github</a>
      </li>
    </ul>
  </div>

  <div class="container" id="wrap">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ title }}
          <small>&nbsp;<a href="/">(View source for this solution)</a></small>
        </h1>

        {% if error %}
        <div class="alert alert-danger">
          <strong>Error: </strong>{{ error }}
        </div>
        {% endif %}

        {% if warning %}
        <div class="alert alert-warning">
          <strong>Error: </strong>{{ warning }}
        </div>
        {% endif %}
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
