{% extends "base.html" %}

{% set title = "Cluster detection" %}

{% block content %}

<div class="row">
  <div class="col-xs-12">

    {% set use_k = True %}
    {% include "partials/event_form.html" %}

    <h2>{{ events|length }} clusters <small>(Event sample set limited to first 1000 for performance concerns)</small></h2>
    <table class="table table-condensed table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th># Events</th>
          <th>Mean year</th>
          <th>Mean latitude</th>
          <th>Mean longitude</th>
          <th>Mean depth</th>
          <th>Mean magnitude</th>
        </tr>
      </thead>

      <tbody>
        {% for cluster in events %}
        <tr>
          <td>{{ cluster.event_count }}</td>
          <td>{{ cluster.year }}</td>
          <td>{{ cluster.latitude }}</td>
          <td>{{ cluster.longitude }}</td>
          <td>{{ cluster.depth }}</td>
          <td>{{ cluster.magnitude }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
