{% extends "base.html" %}

{% set title = "Temporal plot" %}

{% block styles %}

<style>
  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar:hover {
    fill: blue;
  }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    {% include "partials/event_form.html" %}
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/underscore-min.js"></script>
<script src="/static/solution4.js"></script>

{% include "partials/init_solution.html" %}

{% endblock %}