{% extends "base.html" %}

{% set title = "'What makes people happy' style plot" %}
{% set source = "https://github.com/minism/uo-sciprog/blob/master/static/solution5.js" %}

{% block styles %}

<style>
  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    {% include "partials/event_form.html" %}
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <div class="panel panel-primary">
      <div class="panel-heading">Change X axis</div>
      <div class="panel-body">
        <div class="axis-menu" id="x-axis-menu"></div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Change Y Axis</div>
      <div class="panel-body">
        <div class="axis-menu" id="y-axis-menu"></div>
      </div>
    </div>
    <p><strong>Note:</strong> red-blue color indicates latitude of earthquake</p>
  </div>
  <div class="col-xs-10">
    <div id="chart"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/underscore-min.js"></script>
<script src="/static/solution5.js"></script>

{% include "partials/init_solution.html" %}

{% endblock %}
