{% extends "base.html" %}

{% set title = "Spatial plot" %}

{% block styles %}

<style>
  svg {
    margin-left: auto;
    margin-right: auto;
  }

  .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
  }

  .event {
    fill: #f00;
    stroke: #f00;
  }
</style>

{% endblock %}

{% block content %}

<div class="col-xs-12">
  {% include "event_form.html" %}
</div>

{% endblock %}

{% block scripts %}

<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/topojson.v1.min.js"></script>
<script src="/static/solution3.js"></script>



<script>
  // Create data array from server side template
  var events = [];
  {% for event in events %}
  events.push({
    lat: {{ event.latitude }},
    lon: {{ event.longitude }},
  });
  {% endfor %}

  // Init
  $(function() {
    initSolution(events);
  });
</script>

{% endblock %}
